.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.chart iframe {
    width: 49%;
    height: 80vh;
}

.chart iframe:nth-child(1) {
    border-radius: 25px 0 0 25px;
}

.chart iframe:nth-child(2) {
    border-radius: 0 25px 25px 0;
}

@media screen and (max-width: 990px) {
    body {
        overflow-y: scroll;
    }

    .parent {
        flex-direction: row;
    }

    .chart iframe {
        width: 100%;
    }

    .chart iframe:nth-child(1) {
        border-radius: 25px 25px 0 0;
    }

    .chart iframe:nth-child(2) {
        border-radius: 0 0 25px 25px;
        height: 81vh;
    }
}