.howto {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    font-family: var(--bfont)
}
.howto h1{
    font-size: 2.2rem;
}

.howto .content {
    width: min(80rem, 90%);
    display: flex;
    flex-direction: column;
}

.howto img {
    max-width: min(40rem, 90%);
    align-self: center;
}

.howto a,
h1,
dl,
dt {
    max-width: 100%;
}

.howto a {
    color: #03df96;
    font-style: italic;

}

dl dt {
    line-height: 20px;
    margin-top: 25px;
    font-size: 1.225rem;
}

dt::before {
    content: '⬡';
    padding-right: 5px;
    color: #03df96;
    position: relative;
    top: -1px;
}

dd {
    line-height: 20px;
    margin-top: 25px;
    font-size: 1.2rem;
}

b {
    overflow-wrap: anywhere;
    line-height: 28px;
}

@media screen and (max-width: 768px) {
    .howto h1{
        font-size: 1.8rem;
    } 

    dl dt {
        line-height: 20px;
        margin-top: 25px;
        font-size: .9rem;
    }

    dd {
        line-height: 20px;
        margin-top: 25px;
        font-size: .8rem;
    }
}