
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
    --background-gradient: linear-gradient(
        96.13deg,
        #03df96 -18.49%,
        #00e8ff 138.6%
    );
    --bg: #000;
    --card-bg: rgba(78, 79, 79, 0.2);
    --card-shadow: 0px 2.70045px 26.3294px rgba(0, 0, 0, 0.25);
    --contarct-font: "Noto Sans", sans-serif;
    --landing-font: "Inter", sans-serif;
    --bfont: "Poppins", sans-serif;
    --font-color: #fff;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    color: var(--font-color);
    background: var(--bg);
}

.contain {
    width: min(90rem, 95%);
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--landing-font);
}

.nav-logo {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo img {
    height: 50px;
}

.company-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-box ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-box ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    height: 30px;
}

.bg-button {
    height: inherit;
    background: var(--background-gradient);
    border: none;
    border-radius: 10px;
    width: 125px;
    font-size: 20px;
    font-weight: 700;
    font-family: inherit;
    font-size: 17px;
}

.bg-button:hover {
    box-shadow: 0px 4px 19px #03df96;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger,
nav label,
#checkbtn {
    display: none;
}.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main {
    height: calc(100vh - 80px - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--landing-font);
}

.main::before {
    content: "";
    position: absolute;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: 10%;
    height: 80vh;
    width: 80%;
    filter: blur(200px);
    background: rgba(22, 73, 56, 0.481);
    border-radius: 70px;
    z-index: -1;
}

.main-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 95px;
    text-align: center;
    max-width: min(75rem, 90%);
    margin: 10px 0;
}

.main-content {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    max-width: min(55rem, 75%);
}

.main-buttons {
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.main-buttons .mb {
    background: var(--background-gradient);
    border: none;
    box-shadow: 0px 4px 19px #03df96;
    width: 150px;
    height: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    font-size: 20px;
    border-radius: 10px;
}

.contract {
    width: fit-content;
    height: 50px;
    bottom: 20px;
    font-size: 20px;
    font-family: var(--contarct-font);
}

.contract p span {
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading-right {
    width: fit-content;
    transform: rotate(90deg);
    font-family: var(--landing-font);
    justify-content: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: capitalize;
    align-self: flex-end;
    color: #616363;
    padding-top: 10px;
}

.heading-left {
    width: fit-content;
    transform: rotate(270deg);
    font-family: var(--landing-font);
    justify-content: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: capitalize;
    align-self: flex-start;
    color: #616363;
    padding-top: 10px;
}

.about .content {
    text-align: center;
    font-family: var(--bfont);
    max-width: 95%;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: right;
}

.roadmap {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 100%;
    box-sizing: border-box;

    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 5px;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2.50712px 15.0427px #03df96;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: min(30%, 25rem);
    height: fit-content;
    padding: 20px 40px;
    background: rgba(78, 79, 79, 0.2);
    box-shadow: 0px 0px 25px #03df96;
}

.timeline ul li:nth-child(odd) {
    float: left;
    clear: both;
    text-align: right;
    right: -6rem;
}

.timeline ul li:nth-child(even) {
    float: right;
    clear: both;
    text-align: left;
    left: -6rem;
}

.timeline .content h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-bottom: 0px;
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.timeline .content p {
    margin: 10px 0 0;
    padding: 0;
}

.embed {
    height: 90vh;
    padding: 1rem 0;

    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.embed .right {
    box-shadow: 0px 4px 62px 16px rgba(3, 223, 150, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 50%;
    overflow: hidden;
    padding-top: 620px; /* 16:9 Aspect Ratio */
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

.team {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;

    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.swiper {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
}

.mySwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 0 20px;
    position: relative;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
    background-image: none;
}

.swiper-slide .img-box {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: 10px;
    z-index: 1;
    border: 2px solid #03df96;
}

.swiper-slide .person {
    background: rgba(78, 79, 79, 0.2);
    box-shadow: 0px 2.70045px 26.3294px rgba(0, 0, 0, 0.25);
    text-align: right;
    width: 225px;
    position: relative;
    right: -55px;
    bottom: 20px;
    padding: 5px 10px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.latestSwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    margin: 0 20px;
    position: relative;
}

.banner {
    width: 300px;
    height: 200px;
    border-bottom: 5px solid black;
    aspect-ratio: 3/2;
}

.article-content {
    background: rgba(78, 79, 79, 0.2);
    backdrop-filter: blur(36.7222px);
    padding: 5px 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

a {
    text-decoration: none;
    color: white;
}

.flinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flinks .link {
    font-size: 1.8rem;
    margin: 0 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    background: linear-gradient(180deg, #03df96 0%, #03df96 100%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

@media screen and (max-width: 1200px) {
    .timeline ul {
        margin: 0;
        padding: 0;
    }

    .timeline ul li {
        width: 19rem;
    }

    .timeline ul li:nth-child(odd) {
        float: left;
        clear: both;
        right: -4rem;
    }

    .timeline ul li:nth-child(even) {
        float: right;
        clear: both;
        left: -4rem;
    }
}

@media screen and (max-width: 992px) {
    .main-heading {
        font-size: 65px;
        line-height: 85px;
    }

    .main-content {
        font-size: 24px;
        line-height: 30px;
    }

    .timeline {
        width: 90%;
    }

    .timeline::before {
        top: 20px;
        left: 5px;
        height: 92%;
    }

    .timeline ul li {
        margin-top: 3rem;
        height: fit-content;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 75%;
        float: none;
        text-align: left;
        left: 4rem;
        right: 0;
    }

    .timeline ul li .time h4 {
        margin-bottom: 0px;
    }

    .timeline ul li .content h3 {
        margin-top: 20px;
    }

    .box {
        flex-direction: column;
    }
    .box .left {
        text-align: center;
    }
    .container {
        position: relative;
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    
    .main{
        height: calc(100vh - 80px - 100px);
    }
    .main-heading {
        font-size: 52px;
        line-height: 68px;
    }

    .main-content {
        font-size: 19px;
        line-height: 30px;
    }

    .main-buttons {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
    }

    .main-buttons button {
        margin: 10px 10px;
        height: 45px;
    }

    .contract {
        font-size: 1rem;
        align-self: center;
    }

    .link-box {
        position: fixed;
        width: 100%;
        height: 0;
        top: -100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .open {
        position: fixed;
        width: 100%;
        height: 75vh;
        top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .link-box ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-between;
        padding: 0;
        height: 95%;
        width: 75%;
        z-index: 1;
        box-shadow: 0px 0px 30px rgba(22, 73, 56, 0.33);
    }

    .link-box ul::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(50px);
        background: rgba(22, 73, 56);
        border-radius: 25px;
        z-index: -1;
    }

    .hamburger {
        display: block;
    }

    .hamburger {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hamburger span {
        width: 90%;
        height: 4px;
        background: rgba(22, 73, 56);
        margin: 2px 0;
        position: relative;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 70%;
        float: none;
        text-align: left;
        left: 3.5rem;
        right: 0;
    }
    .container {
        position: relative;
        width: 80%;
    }
    .team{
        margin-top: 6rem;
    }
}

@media screen and (max-width: 576px) {
    .main{
        min-height: fit-content;
    }
    .main-heading {
        font-size: 35px;
        line-height: 45px;
        max-width: 95%;

    }
    .contract{
        padding-bottom: 2rem;
    }

    .main-content {
        max-width: 95%;
        font-size: 16px;
        line-height: 23px;
    }
    .main button{
        width: 125px !important;
        height: 40px !important;
        font-size: 1rem;
    }
    .contract{
        font-size: .9rem;
    }
    .timeline::before {
        top: 20px;
        left: 0px;
        height: 92%;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 70%;
        float: none;
        text-align: left;
        left: 1rem;
        right: 0;
    }
    .container {
        width: 98%;
    }
}

