.modal-grid {
    width: 95%;
    min-height: 40vh;
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
}

.modal-grid button {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 5px;
    background: #03df96;
}

.modal-container {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    border: 2px solid #03df96;
    width: max-content;
    padding: 50px;
}

.modal-container img {
    height: 100%;
}

.modal-container a {
    height: 100px;
}

.modal-grid h3 {
    font-weight: bolder;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 25px;
}

.modal-links {
    max-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow: scroll;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--landing-font);
}

.bg-logo {
    opacity: 0.5;
    position: absolute;
    aspect-ratio: 1.13/1;
    top: 0;
    right: 0;
    z-index: -1;
}

.bg-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main::before {
    content: "";
    position: absolute;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: 10%;
    height: 80vh;
    width: 80%;
    filter: blur(200px);
    background: rgba(22, 73, 56, 0.481);
    border-radius: 70px;
    z-index: -1;
}

.main-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 95px;
    text-align: center;
    max-width: min(75rem, 90%);
    margin-top: 10px;
    margin-bottom: 5px;
}

.main h6 {
    margin-top: 1px;
    margin-bottom: 5px;
}

.main p b {
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.main-content {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    max-width: min(55rem, 75%);
}

.main-buttons {
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.main-buttons .mb {
    background: var(--background-gradient);
    border: none;
    width: 150px;
    box-shadow: 0px 4px 10px #03df96;
    height: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-buttons .mb:hover {
    box-shadow: 0px 4px 19px #03df96;
    transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.contract {
    width: fit-content;
    height: 50px;
    bottom: 20px;
    overflow-wrap: anywhere;
    font-family: var(--contarct-font);
    margin-top: 50px;
}

.contract p {
    background-color: #00ffab16;
    padding: 8px 16px;
    margin: 0 16px;
    border-radius: 8px;
    font-size: 16px;

}

.contract p img {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.contract p span {
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.particle-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.about {
    width: 100%;
    min-height: 55vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    background-color: #183138;
}

.about .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
}

.about-logo {
    width: 40%;
    max-height: 35vh;
    aspect-ratio: 1;
}

.about-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.about .about-right {
    width: 60%;
}

.about .waves {
    bottom: 0;
}

.content-box {
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: column;
}

.about .content {
    text-align: center;
    font-family: var(--bfont);
    max-width: 95%;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: left;
}

.points {
    max-width: 100%;
    padding-right: 40px;
    align-self: flex-start;
}

.points li {
    list-style: "";
    font-size: 1.2rem;
    text-align: left;
}

.points li::before {
    content: "⬡";
    padding-right: 5px;
    color: #03df96;
    position: relative;
    top: -1px;
}

.roadmap {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 100%;
    box-sizing: border-box;

    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 1px;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 16px #03df96, 0px 0px 32px #03df9650;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: min(30%, 25rem);
    height: fit-content;
    padding: 20px 40px;
    background: rgba(78, 79, 79, 0.2);
    border-radius: 10px;
}

.timeline ul li:hover {
    box-shadow: 0px 0px 48px #03df9636, 0px 0px 96px #03df9616,
        0px 0px 2px #03df9650, 0px 0px 1px #03df96;
}

.timeline ul li:nth-child(odd) {
    float: left;
    clear: both;
    text-align: right;
    right: -6rem;
    position: relative;
}

.timeline ul li:nth-child(odd) i {
    position: absolute;
    top: 18px;
    left: 10px;
    font-size: 1.5rem;

}


.timeline ul li:nth-child(even) {
    float: right;
    clear: both;
    text-align: left;
    left: -6rem;
}

.timeline ul li:nth-child(even) i {
    position: absolute;
    top: 18px;
    right: 10px;
    font-size: 1.5rem;
}

.timeline .content h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 0px;
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.timeline .content p {
    margin: 10px 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
}

.whitepaper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 40vh;
    background-color: #183138;
}

.whitepaper .download {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--bfont);
    font-size: 1.188rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.whitepaper .inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whitepaper .inner p {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.whitepaper .inner div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.whitepaper .inner a{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whitepaper .inner b {
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.whitepaper-img{
    position: relative;
}
.whitepaper img:hover{
    animation: bounce .5s linear infinite ;
}
@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0px);
    }
}

.whitepaper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: none;
}



.wp-icon {
    font-size: 200px;
    border-radius: 25px;
    background-color: #122c34;
}

.wp-icon:hover {
    box-shadow: 2px 2px 50px #03df96;
    border-radius: 25px;
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.extra {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: var(--bfont);
}

.extra-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 20px;
    min-height: 30vh;

}

.extra-left {
    width: 90%;
    height: auto;
    margin-top: 20px;
    background: rgba(78, 79, 79, 0.2);
    padding: 16px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;

}
.icons{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 15px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.extra-right {
    width: 90%;
    height: auto;
    margin-top: 20px;
    background: rgba(78, 79, 79, 0.2);
    padding: 16px;
    border-radius: 16px;
    position: relative;

}

.extra h3 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    margin-bottom: 15px;
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.extra p {
    margin: 10px 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
}





.embed {
    height: 90vh;
    padding: 1rem 0;

    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left h3 {
    font-size: 1.8rem;
}

.left h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

.embed .right {
    box-shadow: 0px 4px 42px 16px rgba(3, 223, 150, 0.24);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.embed .right:hover {
    box-shadow: 0px 4px 62px 25px rgba(3, 223, 150, 0.24);
}

.embed .box .right iframe {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 50%;
    overflow: hidden;
    padding-top: 620px;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.team {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #183138;
    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.team h4 {
    font-weight: 500;
    margin: 10px 0;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    height: max-content;
}

.team-box {
    width: 270px;
    margin-top: 20px;
    background: rgba(78, 79, 79, 0.2);
    padding: 16px;
    border-radius: 16px;
}

.team-box .img-box {
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    z-index: 1;
}

.sub6 .img-box {
    background: black;
}

/*
.sub6 .person {
    background: red;
}
*/
.team-box .person {
    text-align: left;
    position: relative;
}

.team-box .img-box img {
    width: 100%;
}

.team-box h6 {
    margin-top: 8px;
    margin-bottom: 16px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.person span {
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.person h4 {
    font-size: 1.2rem;
    font-weight: bolder;
}

.person h6 {
    font-size: 1rem;
    font-weight: 600;
}

.latest {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.latestSwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px !important;
    margin: 0 20px;
    position: relative;
}

.banner {
    width: 300px;
    height: 200px;
    border-bottom: 5px solid black;
    aspect-ratio: 3/2;
}

.article-content {
    background: rgba(78, 79, 79, 0.2);
    backdrop-filter: blur(36.7222px);
    padding: 5px 10px;
}

.disclaimer,
.disclaimer .contain {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--bfont);
}

.disclaimer .fa {
    color: yellow;
}

.disclaimer p {
    text-align: center;
    font-family: var(--contarct-font);
    font-weight: 400;
    color: #ffffff50;
    font-size: 11px;
    line-height: 25px;
}

@media screen and (max-width: 1200px) {
    .timeline ul {
        margin: 0;
        padding: 0;
    }

    .timeline ul li {
        width: 19rem;
    }

    .timeline ul li:nth-child(odd) {
        float: left;
        clear: both;
        right: -4rem;
    }

    .timeline ul li:nth-child(even) {
        float: right;
        clear: both;
        left: -4rem;
    }
}

@media (max-width: 1024px) {
    .bg-logo {
        width: 50%;
    }

    .embed {
        margin-top: 100px;
    }

    .embed .box .right {
        margin-bottom: 120px;
    }

    .team-container {
        width: 100%;
        grid-template-columns: repeat(2, minmax(23rem, 1fr));
    }
}

@media screen and (max-width: 992px) {
    .main-heading {
        font-size: 65px;
        line-height: 85px;
    }

    .left h3 {
        font-size: 1.5rem;
        width: 90vw;
    }

    .main-content {
        font-size: 24px;
        line-height: 30px;
    }

    .about-logo {
        display: none;
    }

    .about .about-right {
        width: 100%;
    }

    .timeline {
        width: 90%;
    }

    .timeline::before {
        display: none;
    }

    .timeline ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .timeline ul li {
        margin-top: 3rem;
        height: fit-content;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 80%;
        float: none;
        text-align: left;
        right: 0;
        left: 0;
    }

    .timeline ul li .time h4 {
        margin-bottom: 0px;
    }

    .timeline ul li .content h3 {
        margin-top: 20px;
    }

    .extra-box {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .extra h3 {
        font-size: 1.5rem;
    }

    .box {
        flex-direction: column;
    }

    .box .left {
        text-align: center;
    }

    .container {
        position: relative;
        width: 65%;
    }

    .modal-container {
        width: 70vw;
        max-height: 65vh;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .modal-container h3 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 850px) {
    .timeline {
        margin-top: 0;
        padding-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .points {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .bg-logo {
        width: 40vh;
    }

    .main {
        height: 100vh;
    }

    .main-heading {
        font-size: 52px;
        line-height: 68px;
    }

    .main-content {
        font-size: 19px;
        line-height: 30px;
    }

    .main h3 {
        font-size: 22px;
    }

    .main-buttons {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
    }

    .main-buttons button {
        margin: 10px 10px;
        height: 45px;
    }

    .contract {
        font-size: 1rem;
        text-align: center;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 90%;
        float: none;
        text-align: left;
        right: 0;
        left: 0;
    }

    .whitepaper .inner {
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .whitepaper .inner p {
        font-size: 1.5rem;
        width: 90vw;
    }

    .whitepaper .inner p,
    .whitepaper .inner div {
        width: 100%;
    }
    .whitepaper .inner a{
        width: 45%;
        height: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .whitepaper .inner img{
        width: 85%;
    }
    .container {
        position: relative;
        width: 80%;
    }

    .team {
        margin-top: 6rem;
    }

    .team-container {
        grid-template-columns: repeat(1, minmax(15rem, 1fr));
    }

    .points {
        max-width: 70%;
    }

    .disclaimer h4 {
        text-align: left;
    }

    .swiper-slide {
        opacity: 0;
        transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .swiper-slide-active {
        opacity: 1;
        transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .left h4 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .bg-logo {
        width: 40vh;
    }

    .modal-links {
        max-height: 62vh;
    }

    .modal-links img {
        max-height: 62vh;
    }

    .modal-container a {
        height: 120px;
    }

    .modal-container h3 {
        text-align: center;
    }

    .modal-container {
        width: 60vw;
        height: 70vh;
    }

    .main {
        min-height: fit-content;
    }

    .main-heading {
        font-size: 35px;
        line-height: 45px;
        max-width: 95%;
    }

    .contract {
        padding-bottom: 2rem;
    }

    .main-content {
        max-width: 95%;
        font-size: 16px;
        line-height: 23px;
    }

    .main button {
        width: 125px !important;
        height: 40px !important;
        font-size: 1rem;
    }

    .contract {
        font-size: 0.9rem;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 70%;
        float: none;
        text-align: left;
        left: 0;
        right: 0;
    }

    .container {
        width: 98%;
    }

    .disclaimer h5 {
        font-size: 0.7rem;
        text-align: left;
    }
}