@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap");

:root {
    --background-gradient: linear-gradient(
        96.13deg,
        #03df96 -18.49%,
        #00e8ff 138.6%
    );
    --bg: #122c34;
    --card-bg: rgba(78, 79, 79, 0.2);
    --card-shadow: 0px 2.70045px 26.3294px rgba(0, 0, 0, 0.25);
    --contarct-font: "Noto Sans", sans-serif;
    --landing-font: "Inter", sans-serif;
    --bfont: "Overpass", sans-serif;
    --font-color: #fff;
}

html {
    scroll-behavior: smooth;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    color: var(--font-color);
    background: var(--bg);
    font-family: var(--bfont);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body[data-scrollable="true"] {
    overflow: visible;
}

body[data-scrollable="false"] {
    overflow: hidden;
}

*::-webkit-scrollbar {
    display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
h1 {
    font-size: 49px;
}
h2 {
    font-size: 39px;
}
h3 {
    font-size: 31px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 13px;
    text-transform: uppercase;
}
.contain {
    width: min(90rem, 95%);
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 2;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--landing-font);
}

.nav-logo {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo img {
    height: 50px;
}

.company-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    background: var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-box ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-box ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    height: 30px;
}

.bg-button {
    height: inherit;
    background: var(--background-gradient);
    border: none;
    border-radius: 10px;
    width: 125px;
    font-size: 20px;
    font-weight: 700;
    font-family: inherit;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.bg-button:hover {
    box-shadow: 0px 4px 19px #03df96;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger,
nav label,
#checkbtn {
    display: none;
}

.heading-right {
    width: fit-content;
    transform: rotate(90deg);
    font-family: var(--landing-font);
    justify-content: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: capitalize;
    align-self: flex-end;
    color: #616363;
    padding-top: 10px;
}

.heading-left {
    width: fit-content;
    transform: rotate(270deg);
    font-family: var(--landing-font);
    justify-content: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: capitalize;
    align-self: flex-start;
    color: #616363;
    padding-top: 10px;
}

.contain {
    width: min(90rem, 95%);
}

header ul li a:hover {
    text-shadow: 0 0 10px #03df96;
}

.waves {
    position: absolute;
    width: 100%;
    max-height: 50vh;
    min-height: 40vh;
}

.wave1 {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.wave2 {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.wave3 {
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.wave4 {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    font-family: var(--bfont);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.flinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flinks .link {
    font-size: 1.8rem;
    margin: 0 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    background: linear-gradient(180deg, #03df96 0%, #03df96 100%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.algata {
    width: 98%;
    text-align: center;
    padding-bottom: 20px;
    font: 1rem var(--bfont);
    color: grey;
}

.algata a {
    color: #32a6fb;
    font-style: italic;
}

.modal[data-toggle="false"] {
    display: none;
}

.modal[data-toggle="true"] {
    z-index: 10000;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    .heading-left {
        transform: rotate(0deg);
    }

    .heading-right {
        transform: rotate(0deg);
        align-self: flex-start;
    }

    .link-box {
        position: fixed;
        width: 100vw;
        height: 0;
        top: -100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .open {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .link-box ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-between;
        padding: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background-color: black;
    }

    .hamburger {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 1000;
        margin-top: 10px;
        margin-right: 10px;
    }

    .hamburger span {
        width: 90%;
        height: 4px;
        background: rgba(22, 73, 56);
        margin: 2px 0;
        position: relative;
    }

    .nav-logo {
        width: auto;
    }

    .company-name {
        display: none;
    }

    .wave1,
    .wave2,
    .wave3,
    .wave4,
    .waves {
        object-fit: cover;
    }
}

